<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
</head>
<body>
    <h1>{{ title }}</h1>
    <p>Flask app is working!</p>
    <br>
    <br>
    <form method="post" action="/">
        <input type="submit" value="SORT BY TEST (TYPE/COUNT)" name="action3"/>
    </form>
    <p>{{ orderedby.upper() }}</p>
    <br>
    <form method="post" action="/">
        <input type="submit" value="SORT BY TEST (ORDER)" name="action10"/>
    </form>
    <p>{{ ascdesc }}</p>
    <br>
    <br>
    <form method="post" action="/">
        <input type="submit" value="Twos" name="action4"/>
        <input type="submit" value="Threes" name="action5"/>
        <input type="submit" value="Fours" name="action6"/>
        <br>
        <input type="submit" value="Clubs" name="action7"/>
        <input type="submit" value="Spades" name="action8"/>
        <input type="submit" value="Hearts" name="action9"/>
    </form>
    <h3>Filtered Images:</h3>
    <p>{{ filteringfor }}</p>
    <br>
    <form method="post" action="/">
        <input type="text" name="searchbar" placeholder="Does nothing right now..." value="">
        <input type="submit" value="Search">
    </form>
    <br>
    {% for img in filteredimages %}
        <img src="static/{{ img }}" style="max-width: 100px; margin: 5px;" alt="{{ img }}">
    {% endfor %}
</body>
</html>